.items {
    &__title {
        @include fontSize32B;
        margin-bottom: $halfShortMargin;
        position: relative;
        z-index: 1;
        text-shadow: 3px 4px 40px rgba(154, 209, 116, 0.3);

        @media (min-width: 1023px) {
            text-align: center;
            margin-bottom: $shortMargin;
            @include fontSize48B;
        }
    }

    &__main {
        margin-bottom: $halfShortMargin;

        @media (min-width: 1023px) {
            max-width: 100%;
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: $shortMargin;
        }
    }

    &__pagination {
        margin-top: $halfShortMargin;

        @media (min-width: 1023px) {
            margin-top: $shortMargin;
        }
    }
}

.items-main {
    @media (min-width: 1023px) {
        padding-bottom: 40px;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        pointer-events: none;
    }

    @media (min-width: 1023px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__img {
        width: 100%;
        max-height: 400px;
        display: block;
        margin-bottom: $halfShortMargin;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;

        @media (max-width: 1024px) {
            height: auto;
        }

        @media (min-width: 1023px) {
            width: 400px;

            margin-bottom: unset;
        }
    }

    &__about {
        width: 100%;

        @media (min-width: 1023px) {
            max-width: calc(100% - 500px);
        }
    }
}

.items-main-about {
    @media (min-width: 1023px) {
        padding: 20px;
    }

    &__title {
        margin-bottom: $halfShortMargin;

        @media (min-width: 1023px) {
            margin-bottom: $shortMargin;
        }
    }

    &__text {
        @include fontSize18M;
    }
}

.items-cocktails {
    &__title {
        margin-bottom: $halfShortMargin;

        @media (min-width: 1023px) {
            margin-bottom: $shortMargin;
        }
    }
}