.filter {
    &:not(:last-child) {
        padding-bottom: $halfPadding;
        border-bottom: 1px solid rgba($colorMain, 0.2);

        @media (min-width: 1023px) {
            padding-bottom: $defaultPadding;
        }
    }
    &:not(:first-child) {
        padding-top: $halfPadding;

        @media (min-width: 1023px) {
            padding-top: $defaultPadding;
        }
    }
    &__wrapper {
        overflow: hidden;
        transition: height 0.4s;
    }
    &__animations {
        padding-top: 8px;
        @media (min-width: 1023px) {
            padding-top: $halfPadding;
        }
    }

    &__search {
        margin-bottom: 8px;
        @media (min-width: 1023px) {
            margin-bottom: $halfPadding;
        }
    }

    &__list {
        max-height: 50vh;
        overflow: auto;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 1023px) {
        cursor: pointer;
    }

    &__title {
        color: $colorBlack;
        @include fontSize18B;
    }

    &__toggler {
        position: relative;

        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: $colorMain;

        &:hover {
            background-color: $colorHover;
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            background-color: $colorWhite;
            width: 8px;
            height: 2px;
            top: calc(50% - 1px);

            transition: transform $defaultAnimTime;
        }

        &::after {
            transform: rotate(-45deg);
            left: calc(50% - 2px);
        }

        &::before {
            transform: rotate(45deg);
            left: calc(50% - 6px);
        }

        &--close {
            &::after {
                transform: rotate(45deg);
            }

            &::before {
                transform: rotate(-45deg);
            }
        }
    }
}

.filter-list {
    @include defaultWrapperScroll;

    &__item {
        margin-right: 10px;
    }

    &__text {
        @include fontSize14;
        color: $colorMain;
    }
}

.filter-list-item {
    $self: &;
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;

    @media (min-width: 1023px) {
        cursor: pointer;
    }
    &:hover {
        #{$self}__name {
            color: $colorMain;
        }
        #{$self}__flag {
            &--radio {
                &::after {
                    background-color: rgba($colorMain, 0.5);
                }
            }
            &--checkbox {
                background-color: rgba($colorMain, 0.5);
            }
        }
    }
    &--lock {
        pointer-events: none;

        &::after {
            @include fullPseudoElement;
            z-index: 1;
            background-color: rgba($colorWhite, 0.8);
        }
    }
    &--active {
        #{$self}__flag {
            &--radio {
                &::after {
                    background-color: $colorMain;
                }
            }
            &--checkbox {
                background-color: $colorMain;
                background-image: url('/img/icons/check-mark.svg');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    &__flag {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        margin-right: 6px;

        border: 1px solid $colorMain;

        background-color: transparent;
        transition: background-color $defaultAnimTime;

        &--radio {
            border-radius: 10px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 4px;

                background-color: transparent;

                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                transition: background-color $defaultAnimTime;
            }
        }

        &--checkbox {
            border-radius: 2px;
        }
    }

    &__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include fontSize14M;
        color: $colorBlack;

        transition: color $defaultAnimTime;

        @media (min-width: 1023px) {
            @include fontSize16M;
        }
        &::first-letter {
            text-transform: uppercase;
        }

        &--link {
            &::after {
                @include fullPseudoElement;
            }
        }
    }

    &__count {
        flex-shrink: 0;
        margin-left: 4px;
        @include defaultCount;
    }
}
