.cocktail {
  &__tags {
    @include scrollNone;
    margin-bottom: $halfShortMargin;
    margin-right: -40px;
    margin-left: -40px;

    @media (min-width: 1023px) {
      margin-top: $shortMargin;
      margin-bottom: $shortMargin;
      margin-right: unset;
      margin-left: unset;
    }
  }
}

.cocktail-header {
  @media (min-width: 1023px) {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: $halfShortMargin;

    @media (min-width: 1023px) {
      margin-bottom: unset;
    }
  }
}

.cocktail-header-title {
  &__label {
    @include fontSize32B;

    @media (min-width: 1023px) {
      @include fontSize48;
    }
  }
}

.cocktail-header-user-info {
  @media (min-width: 1023px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__views {
    margin-bottom: $halfShortMargin;
    @include fontSize16M;
    letter-spacing: -.02em;

    @media (min-width: 1023px) {
      @include fontSize18;
      margin-right: $halfShortMargin;
      margin-bottom: unset;
    }
  }

  &__rating {
    margin-bottom: $halfShortMargin;

    @media (min-width: 1023px) {
      margin-bottom: unset;
    }
  }
}

.cocktail-tags {
  display: flex;
  overflow: auto;

  padding-left: 40px;
  padding-right: 40px;

  @media (min-width: 1023px) {
    padding-left: unset;
    padding-right: unset;

    overflow: inherit
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.cocktail-tags-item-link {
  display: block;
  padding: 3px 8px;
  border-radius: 4px;
  background-color: $colorMain;
  transition: background-color .4s;

  &:hover {
    background-color: $colorHover;
  }

  &::first-letter {
    text-transform: uppercase;
  }

  &__label {
    font-style: italic;
    @include fontSize16M;
    color: $colorWhite;
    white-space: nowrap;
  }
}

.cocktail-body {
  @media (min-width: 1023px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__img {
    width: 100%;
    max-height: 500px;
    display: block;
    margin-bottom: $halfShortMargin;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;

    @media (max-width: 1024px) {
      height: auto;
    }

    @media (min-width: 1023px) {
      width: 500px;

      margin-bottom: unset;
    }
  }

  &__recipe {
    width: 100%;
    margin-bottom: $halfShortMargin;

    @media (min-width: 1023px) {
      max-width: calc(100% - 600px);
      margin-bottom: $shortMargin;
    }
  }

  &__ads {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    @media (min-width: 1023px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__goods {
    width: 100%;
    margin-bottom: $halfShortMargin;

    @media (min-width: 1023px) {
      margin-bottom: $shortMargin;
    }
  }

  &__tools {
    width: 100%;
    margin-bottom: $halfShortMargin;

    @media (min-width: 1023px) {
      margin-bottom: $shortMargin;
    }
  }
}

.cocktail-body-recipe {

  &__title {
    margin-bottom: $halfShortMargin;

    @media (min-width: 1023px) {
      margin-bottom: $shortMargin;
    }
  }
}

.cocktail-body-recipe-title {

  &__label {
    color: $colorBlack;
    @include fontSize24B;
  }
}

.cocktail-body-recipe-list {
  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-bottom: $halfShortMargin;
    }
  }
}

.cocktail-body-recipe-list-item {
  display: flex;
  align-items: center;
  counter-increment: counter;

  &:not(:last-child) {
    padding-bottom: $halfShortMargin;
    border-bottom: 1px solid $colorMain;
  }

  &::before {
    @include fontSize18B;
    color: $colorWhite;
    width: 34px;
    height: 34px;
    margin-right: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorMain;
    content: counter(counter);
    flex-shrink: 0;

    @media (min-width: 1023px) {
      width: 40px;
      height: 40px;
      margin-right: $halfShortMargin;
    }
  }

  &__label {
    @include fontSize18M;
  }
}