.cocktail {
    &__tags {
        @include scrollNone;
        margin-bottom: $halfShortMargin;
        margin-right: -40px;
        margin-left: -40px;

        @media (min-width: 1023px) {
            margin-top: $halfShortMargin;
            margin-bottom: $shortMargin;
            margin-right: unset;
            margin-left: unset;
        }
    }
}

.cocktail-header {
    @media (min-width: 1023px) {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 6px;

        @media (min-width: 1023px) {
            margin-bottom: unset;
        }
    }
}

.cocktail-header-title {
    &__label {
        @include fontSize32B;

        @media (min-width: 1023px) {
            @include fontSize48;
        }
    }
}

.cocktail-header-user-info {
    @media (min-width: 1023px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__views {
        margin-bottom: 6px;
        @include fontSize16M;
        letter-spacing: -.02em;

        @media (min-width: 1023px) {
            @include fontSize18;
            margin-right: $halfShortMargin;
            margin-bottom: unset;
        }
    }

    &__rating {
        margin-bottom: 28px;

        @media (min-width: 1023px) {
            margin-bottom: unset;
        }
    }
}

.cocktail-tags {
    display: flex;
    overflow: auto;

    padding-left: 40px;
    padding-right: 40px;

    @media (min-width: 1023px) {
        padding-left: unset;
        padding-right: unset;

        overflow: inherit
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 10px;

            &::after {
                content: '';
                position: absolute;
                right: -6px;
                pointer-events: none;
                width: 2px;
                height: 40px;
                background-color: rgba(154, 209, 116, 0.5);
                top: 50%;
                transform: translateY(-50%) rotate(10deg);

                @media (min-width: 1023px) {
                    display: none;
                }
            }
        }
    }
}

.cocktail-tags-link {
    display: block;
    padding: 4px 8px;
    border-radius: 20px;
    background-color: $colorMain;
    transition: background-color .4s;
    font-style: italic;
    color: $colorWhite;
    white-space: nowrap;
    @include fontSize14M;

    @media (min-width: 1023px) {
        padding: 3px 8px;
        border-radius: 4px;
        @include fontSize16M;
    }

    @media (hover: hover) {
        &:hover {
            background-color: $colorHover;
        }
    }

    &::first-letter {
        text-transform: uppercase;
    }
}

.cocktail-body {
    @media (min-width: 1023px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__img {
        width: 100%;
        display: block;
        margin-bottom: $halfShortMargin;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;

        @media (max-width: 1024px) {
            height: auto;
            max-height: 300px;
        }

        @media (min-width: 1023px) {
            width: 500px;
            height: 500px;
            margin-bottom: unset;
        }
    }

    &__recipe {
        width: 100%;
        margin-bottom: $halfShortMargin;

        @media (min-width: 1023px) {
            max-width: calc(100% - 600px);
            margin-bottom: $shortMargin;
        }
    }

    &__ads {
        max-width: 100%;
        width: 1200px;
        margin: 8px auto;

        @media (min-width: 1023px) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    &__goods,
    &__tools,
    &__article,
    &__recomendation {
        width: 100%;
    }
}

.cocktail-body-recipe {
    &__title {
        margin-bottom: $halfShortMargin;

        @media (min-width: 1023px) {
            margin-bottom: $shortMargin;
        }
    }
}

.cocktail-body-recipe-list {
    list-style: none;

    &__item {
        &:not(:last-child) {
            margin-bottom: $halfShortMargin;
        }
    }
}

.cocktail-body-recipe-list-item {
    display: flex;
    align-items: center;
    counter-increment: counter;

    &:not(:last-child) {
        padding-bottom: $halfShortMargin;
        border-bottom: 1px solid $colorMain;
    }

    &::before {
        @include fontSize18B;
        color: $colorWhite;
        width: 34px;
        height: 34px;
        margin-right: 16px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $colorMain;
        content: counter(counter);
        flex-shrink: 0;

        @media (min-width: 1023px) {
            width: 40px;
            height: 40px;
            margin-right: $halfShortMargin;
        }
    }

    &__label {
        @include fontSize18M;
    }
}

.cocktail-body-article {
    &__title {
        margin-bottom: $halfShortMargin;

        @media (min-width: 1023px) {
            margin-bottom: $halfShortMargin;
        }
    }
}

.cocktail-body-article-chapters {
    &__text {
        margin-bottom: $halfShortMargin;
        @include fontSize16;
    }
}