@mixin defaultWrapper {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    overflow: hidden;

    @media (min-width: 1023px) {
        margin-left: auto;
        margin-right: auto;
        max-width: 1900px;
        padding-left: Min(100vw / 19, 100px);
        padding-right: Min(100vw / 19, 100px);
    }
}

@mixin defaultBtn {
    padding: 4px;

    min-width: 40px;
    min-height: 40px;

    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1023px) {
        padding: 8px;

        min-width: 48px;
        min-height: 48px;

        border-radius: 8px;
    }
}

@mixin fullPseudoElement {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin scrollNone {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

@mixin defaultCount {
    text-align: center;
    color: $colorWhite;
    padding: 3px 5px 3px;
    @include fontSize14;
    line-height: 1;
    min-width: 20px;

    @media (min-width: 1023px) {
        padding-left: 7px;
        padding-right: 7px;
        @include fontSize16M;
        min-width: 21px;
        line-height: 1;
    }

    background-color: $colorMain;

    border-radius: 20px;
}

@mixin defaultWrapperScroll {
    scrollbar-width: thin;
    scrollbar-color: rgba($colorMain, 0.8) rgba($colorMain, 0.2);

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba($colorMain, 0.2);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($colorMain, 0.8);
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $colorMain;
    }
}

@mixin fontSize14 {
    font-size: 14px;
    line-height: 20px;
}

@mixin fontSize14M {
    @include fontSize14;
    font-weight: 600;
}

@mixin fontSize16 {
    font-size: 16px;
    line-height: 24px;
}

@mixin fontSize16M {
    @include fontSize16;
    font-weight: 600;
}

@mixin fontSize18 {
    font-size: 18px;
    line-height: 26px;
}

@mixin fontSize18M {
    @include fontSize18;
    font-weight: 600;
    letter-spacing: -0.02em;
}

@mixin fontSize18B {
    @include fontSize18;
    font-weight: bold;
    letter-spacing: -0.02em;
}

@mixin fontSize22 {
    font-size: 24px;
    line-height: 32px;
}

@mixin fontSize22B {
    @include fontSize24;
    font-weight: bold;
    letter-spacing: -0.02em;
}

@mixin fontSize24 {
    font-size: 24px;
    line-height: 32px;
}

@mixin fontSize24B {
    @include fontSize24;
    font-weight: bold;
    letter-spacing: -0.02em;
}

@mixin fontSize32 {
    font-size: 32px;
    line-height: 40px;
}

@mixin fontSize32B {
    @include fontSize32;
    font-weight: bold;
    letter-spacing: -0.02em;
}

@mixin fontSize32BL {
    @include fontSize32;
    font-weight: 900;
    letter-spacing: 1px;
}

@mixin fontSize48 {
    font-size: 48px;
    line-height: 56px;
}

@mixin fontSize48B {
    @include fontSize48;
    font-weight: bold;
    letter-spacing: -0.02em;
}

@mixin fontSize48BL {
    @include fontSize48;
    font-weight: 900;
    letter-spacing: 1px;
}
