$defaultMargin: 192px;
$halfMargin: 96px;
$shortMargin: 48px;
$halfShortMargin: 24px;
$defaultPadding: 32px;
$halfPadding: 16px;


$colorMain: rgb(3, 27, 77);
$colorHover: rgb(4, 65, 196);
$colorBlack: rgb(24, 24, 24);
$colorWhite: rgb(255, 255,255);
$defaultAnimTime: 0.4s;