.btn {
  $self: &;

  @include defaultBtn;
  font-size: 0;
  line-height: 0;

  position: relative;

  background-color: $colorMain;

  transition: background-color $defaultAnimTime, box-shadow $defaultAnimTime;

  &--short {
    min-width: 30px;
    min-height: 30px;

    #{$self}__icon {
      mask-size: 14px;
    }
  }

  &--lock {
    pointer-events: none;

    &::after {
      @include fullPseudoElement;

      background-color: rgba($colorWhite, 0.8);

      z-index: 1;
    }
  }

  &--bottom {
    #{$self}__icon {
      transform: rotate(180deg);
    }
  }

  &:not(#{&--lock}) {
    &:hover {
      background-color: $colorHover;
      box-shadow: -5px -5px 40px rgba($colorHover, 0.1);
    }
  }

  &__icon {
    @include fullPseudoElement;

    mask-size: 20px;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $colorWhite;
  }

}