.recomendation {
    &__title {
        text-align: center;
        margin-bottom: $halfShortMargin;

        @media (min-width: 1023px) {
            margin-bottom: $shortMargin;
        }
    }

    &__list {
        overflow: auto;
        @include scrollNone;
        margin-right: -40px;
        margin-left: -40px;

        @media (min-width: 1023px) {
            overflow: initial;
            margin-right: unset;
            margin-left: unset;
        }
    }
}

.list {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;

    @media (min-width: 1023px) {
        justify-content: center;
        flex-wrap: wrap;
        padding-left: unset;
        padding-right: unset;
    }

    &__item {
        position: relative;
        flex-shrink: 0;
        width: 140px;
        margin: 10px;

        @media (min-width: 1023px) {
            margin: 10px 20px;
            width: 166px;
        }

        &::after,
        &::before {
            pointer-events: none;
            position: absolute;
            width: 1px;
            height: 90px;
            background-color: rgba(154, 209, 116, 0.5);
            top: 55px;

            @media (min-width: 1023px) {
                height: 120px;
            }
        }

        &::after {
            content: '';
            right: -10px;

            @media (min-width: 1023px) {
                right: -20px;
            }
        }

        &:first-child {
            &::before {
                content: '';
                left: -10px;

                @media (min-width: 1023px) {
                    left: -20px;
                }
            }
        }
    }
}

.cart {
    position: relative;
    display: block;
    $self: &;
    padding: 10px;

    border-radius: 8px;

    transition:
        transform $defaultAnimTime,
        box-shadow $defaultAnimTime;

    @media (hover: hover) {
        &:hover {
            #{$self}__name {
                color: $colorHover;
            }

            transform: translateY(-4px);
            box-shadow:
                1px 4px rgba($colorHover, 0.3),
                -5px -5px 40px rgba($colorHover, 0.1);
        }
    }

    &__header {
        margin-bottom: 10px;
    }

    &__picture {
        flex-shrink: 0;
        display: block;
        position: relative;
        padding-top: 100%;
        width: 100%;
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
        border-radius: 8px;
    }

    &__name {
        color: $colorMain;
        text-align: left;
        @include fontSize16M;
        margin-top: 10px;
        transition: color $defaultAnimTime;

        &::after {
            z-index: 1;
            @include fullPseudoElement;
        }

        &::first-letter {
            text-transform: uppercase;
        }
    }
}

.cart-header {
    display: flex;
    justify-content: flex-end;

    &__rating {
        margin-right: 10px;
    }
}

.cart-header-rating,
.cart-header-visit-count {
    display: flex;
    align-items: center;

    color: $colorBlack;
    @include fontSize14;

    @media (min-width: 1023px) {
        @include fontSize14M;
    }

    &::before {
        margin-right: 5px;
        content: '';
        width: 16px;
        height: 16px;
        display: inline-block;
        mask-size: cover;
    }
}

.cart-header-rating {
    &::before {
        background-color: $colorRating;
        mask-image: url('/img/icons/star.svg');
    }
}

.cart-header-visit-count {
    &::before {
        background-color: #2b4718;
        mask-image: url('/img/icons/eye.svg');
    }
}
