.rating {
    position: relative;

    &__wrapper {
        min-height: 24px;

        &--lock {
            pointer-events: none;
        }
    }

    &__text {
        position: absolute;
        top: 100%;
        left: 0;
        @include fontSize14;
        color: $colorBlack;
    }
}

.rating-wrapper {
    display: flex;
    align-items: center;

    &__stars {
        margin-right: 10px;
    }

    &__value {
        color: $colorMain;
        @include fontSize16M;
    }

    &__count {
        margin-left: 10px;
        @include defaultCount;
    }

    &__aggregate {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: 40px;
    }

    &__spacer {
        min-width: 40px;
    }

    &__hidden {
        position: absolute;
        left: -99999px;
    }
}

.rating-wrapper-stars {
    $starItem: '.rating-wrapper-stars-item';

    display: flex;
    justify-content: space-between;

    &__item {
        width: 16px;
        margin: 0 2px;
        height: 16px;
        position: relative;
    }

    @media (hover: hover) {
        &:hover {
            #{$starItem}__start--full {
                background-color: rgba($colorRating, 0);
            }
        }
    }
}

.rating-wrapper-stars-item {
    $self: &;

    &--hover {
        #{$self}__start--gray {
            cursor: pointer;
            background-color: rgba($colorRating, 0.7);
        }
    }

    &__start {
        &--full,
        &--gray {
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            mask-size: cover;
            mask-image: url('/img/icons/star.svg');

            transition: background-color $defaultAnimTime;
        }

        &--full {
            background-color: $colorRating;
            pointer-events: none;
        }

        &--gray {
            background-color: rgba($colorBlack, 0.3);
        }
    }
}
