.login {
  width: 300px;
  max-width: 100%;
  padding: $halfShortMargin;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #ffffff;
  border-radius: 4px;

  @media screen and (max-width: 600px) {
    width: 100%;
    left: 0;
    transform: translateY(-50%);
  }
}

.login-form {
  &__input {
    width: 100%;
    margin-bottom: $halfShortMargin;
  }

  &__submit {
    margin: 4px 2px;
    width: 100%;
  }
}

.input {

  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;

  &__label {
  }

  &__field {
  }
}

.submit {
  background-color: $colorHover;
  border: none;
  color: $colorWhite;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
