.blog {
    &__header {
        margin-bottom: $halfShortMargin;

        @media (min-width: 1023px) {
            margin-bottom: $shortMargin;
        }
    }

    &__breadCrumbs {
        margin-bottom: 12px;

        @media (min-width: 1023px) {
            margin-bottom: $halfShortMargin;
        }
    }

    &__body {
        margin-top: $halfShortMargin;
        margin-bottom: $halfShortMargin;

        @media (min-width: 1023px) {
            margin-top: $shortMargin;
            margin-bottom: $shortMargin;
        }
    }

    &__pagination {
        @media (min-width: 1023px) {
            margin-top: $shortMargin;
        }
    }
}

.header {
    &__title {
    }
}

.body {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;

    &__post {
        position: relative;
        margin: 10px;
        width: calc(100% - 20px);
        z-index: 1;
        @media (min-width: 567px) {
            width: calc(100% / 2 - 20px);
        }
        @media (min-width: 991px) {
            width: calc(100% / 3 - 20px);
        }

        @media (min-width: 1500px) {
            width: calc(100% / 4 - 20px);
        }
    }
}

.post {
    height: 100%;
    $self: &;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(231, 226, 222);
    display: flex;
    flex-direction: column;

    transition:
        transform $defaultAnimTime,
        box-shadow $defaultAnimTime;

    &:hover {
        #{$self}__name {
            color: $colorHover;
        }

        transform: translateY(-4px);
        box-shadow:
            1px 4px rgba($colorHover, 0.3),
            -5px -5px 40px rgba($colorHover, 0.1);

        @media (min-width: 1023px) {
            transform: translateY(-5px);
            box-shadow:
                1px 5px rgba($colorHover, 0.3),
                -5px -5px 20px rgba($colorHover, 0.6);
        }
    }

    &__img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        max-width: unset;
        display: block;
    }

    &__title {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        @include fontSize16M;
        color: $colorMain;
        padding: 10px 20px;
        min-height: 100px;

        @media (min-width: 567px) {
            padding: 20px 40px;
            @include fontSize18M;
        }
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: '';
        }
    }
}
