.post {
    width: 956px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    &__header {
    }

    &__body {
    }
}
.header {
    &__title {
        text-align: center;
        @include fontSize24M;

        @media (min-width: 1023px) {
            text-align: left;
            @include fontSize32M;
            line-height: 1.5;
        }
    }
    &__tags {
        margin: 28px -40px $halfShortMargin;

        @media (min-width: 1023px) {
            margin: $halfShortMargin auto $shortMargin;
        }
    }
}
.body {
    &__item {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}
.item {
}
